{{ partial "header.html" . }}

<div class="wrap">
    <section class="section">
        <h2 class="section__title">About TextXD</h2>
        {{ .Site.Data.home.description }}
    </section>
</div>

<hr />

<div class="wrap">
    <section class="section">
        <h2 class="section__title">News</h2>
        Save the date: TextXD 2019 will be Dec. 3 - 5! Complete our feedback survey here.<br>
        Our call for submissions will be released on July 25.
    </section>
</div>

<hr />


<div class="wrap">
  <section class="section">
    <h2 class="section__title">
      Organizing Team
      <a class="button" href="/characters.html">View All</a>
    </h2>

    <div class="grid grid--center">
      {{ range (first 10 (sort (where .Data.Pages "Section" "character") "Weight" "asc")) }}
        <div class="grid__cell grid__cell--20">
          {{ partial "character_preview.html" . }}
        </div>
      {{ end }}
    </div>
  </section>
</div>

<hr />




